/* Reset styles to improve cross-browser consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling for body and header elements */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.nav-links li {
  display: inline-block;
  margin-left: 1rem;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

/* Hero section styles */
.hero {
  background-color: #f2f2f2;
  padding: 4rem 0;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.btn:hover {
  background-color: #444;
}

/* Services section styles */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.service {
  text-align: center;
}

.service img {
  width: 80px;
  height: 80px;
}

.service h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.service p {
  color: #666;
}

/* Contact section styles */
#contact {
  background-color: #f2f2f2;
  padding: 4rem 0;
}

#contact h2 {
  text-align: center;
  margin-bottom: 2rem;
}

#contact p {
  text-align: center;
  color: #666;
  margin-bottom: 2rem;
}

form input,
form textarea,
form button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

form button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
}

form button:hover {
  background-color: #444;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

footer p {
  font-size: 0.9rem;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .nav-links {
      display: none;
  }

  .nav-links li {
      display: block;
      margin-bottom: 1rem;
  }
}
